:root {
    --activebg: hsl(217, 19%, 35%);
    --bgcolor: hsl(210, 46%, 95%);
    --darkblue: hsl(214, 17%, 51%);
    --grayblue: hsl(212, 23%, 69%);
}

body {
    background-color: var(--bgcolor);
    font-family: 'Manrope', sans-serif;;
    font-size: 13px;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*----------  Article  ----------*/
main .wrapper {
    width: 90%;
    margin: 0 auto;

}

main .wrapper article {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 1fr;
    border-radius: 1em;
    background-color: #FFFFFF;
    -webkit-box-shadow: 7px 10px 32px -21px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 10px 32px -21px rgba(0,0,0,0.75);
    box-shadow: 7px 10px 32px -21px rgba(0,0,0,0.75);
    position: relative;
}

main .wrapper article .topimg {
    height: 225px;
    overflow: hidden;
    border-radius: 1em 1em 0 0;
}

main .wrapper article .topimg img{
    width: 100%;
    margin-bottom: 20px;
}

main .wrapper article .bodyart .text h3 {
    font-size: 18px;
    line-height: 28px;
    font-weight: bold;
    color: var(--activebg);
    padding: 10px 25px 0 25px;
    margin: 0;
}

main .wrapper article .bodyart .text p {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 10px 25px 10px 25px;
    color: var(--activebg);
}

main .wrapper article .bodyart .info {
    display: flex;
    align-items: center;
    padding: 10px 25px;
    position: relative;
}

main .wrapper article .bodyart .info .avatar {
    width: 20%;
    max-width: 100px;
    border-radius: 50%;
}

main .wrapper article .info .name {
    color: var(--activebg);
    margin: 0 14px;
    /* padding: 0 0 0 15px; */
    font-weight: bold;
}

main .wrapper article .info .date {
    color: var(--activebg);
    margin: 0 14px;
    /* padding: 0 0 0 15px; */
}


main .wrapper article .info .icon-arrow {
    position: absolute;
    right: 10%;
    background: var(--bgcolor);
    padding: 10px;
    border-radius: 50%;
}

main .wrapper article .social-share {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 8px 25px;
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    background-color: var(--activebg);
    border-radius: 0 0 1em 1em;
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

main .wrapper article .social-share .sharetext {
    padding: 0;
    letter-spacing: 2px;
    color: #FFFFFF;
    display: inline;
    font-weight: lighter;
    font-size: 12px;
}

main .wrapper article .social-share .fa-share {
    background: var(--darkblue);
    padding: 10px;
    border-radius: 50%;
    color: #FFFFFF;
    justify-self: right;
    /* margin-right: 25px; */
}

.fab {
    color: white;
    margin-left: 3px;
    font-size: 20px;
}

.fw-social-share {
    display: none;
}

.sharebtn {
    cursor: pointer
}

/*----------  MEDIA QUERIES  ----------*/

@media screen and (min-width: 550px){
    main .wrapper article {
        grid-template-columns: .5fr 1fr;
        grid-template-rows: 1fr;
        max-width: 700px;
    }
    main .wrapper article .topimg img{
        display: none;
    }
    main .wrapper article .bodyart {
        padding: 10px;
    }
    main .wrapper article .topimg {
        background: url('../images/drawers.jpg') no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
        border-radius: 1em 0 0 1em;
    }
    main .wrapper article .bodyart .info {
        padding: 10px 10px 0 10px;
    }

    main .wrapper article .bodyart .info .name {
        word-break: break-all;
        width: 100%;
    }
    
    main .wrapper article .bodyart .info .avatar {
        max-width: 70px;
    }
    main .wrapper article .info .fw-social-share {
        background: var(--activebg);
        width: 220px;
        border-radius: 1em;
        color: #FFFFFF;
        display: grid;
        padding: 5px;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        -webkit-box-shadow: 4px 3px 13px -7px rgba(0,0,0,0.75);
        -moz-box-shadow: 4px 3px 13px -7px rgba(0,0,0,0.75);
        box-shadow: 4px 3px 13px -7px rgba(0,0,0,0.75);
        position: relative;
        bottom: 70px;
        left: 14%;
        display: none;
    }
    
    main .wrapper article .info .fw-social-share:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 100%;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        border-top: 12px solid var(--activebg);
    }
}